HELP.md
product-service/target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
NOTES.md

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### My SQL Host Data ###
my-sql-data
mongo-data
/mysql_keycloak_data/
/postgres/
/postgres-inventory/
/postgres-order/
/grafana/
/inventory-service/target/
/order-service/target/
/.idea/
/discovery-server/target/classes/com/shop/discoveryserver/DiscoveryServerApplication.class
/discovery-server/target/classes/application.properties
/api-gateway/target/classes/com/shop/apigateway/ApiGatewayApplication.class
/api-gateway/target/classes/application.properties
/api-gateway/target/classes/com/shop/apigateway/config/SecurityConfig.class
/discovery-server/target/classes/com/shop/discoveryserver/config/WebSecurityConfig.class
